<html> 
<head>

	<link rel="stylesheet" href="bootstrap/css/bootstrap-theme.min.css">
	<link rel="stylesheet" href="bootstrap/css/bootstrap.min.css">
	<link rel="stylesheet" href="upload.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script src="bootstrap/js/jquery-3.1.1.min.js"></script>
	<script src="bootstrap/js/bootstrap.min.js"></script>
	<script src="angular.js"></script>
	<script src="signature_pad.min.js"></script>
	<script src="signature.js"></script>
	<script src="ng-file-upload-bower-12.2.13/ng-file-upload-shim.min.js"></script>
	<!-- for no html5 browsers support -->
	<script src="ng-file-upload-bower-12.2.13/ng-file-upload.min.js"></script>
	<style type="text/css"> 
		#myGroup {visibility:hidden} 
	</style> 
	<script src="physical.js"></script> 
	<link href="bootstrap/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>

<body> 
	<h3><strong><u>PHYSICAL EXAMINATION:</u></strong></h3>
	<center><label style="padding-top:10px;">History of injury in detail:</label></center>
	<form class="form-horizontal" style="padding-top:10px;">
          <div class="form-group">
             <div>
                <div class="col-xs-6">
                         <div>   
                             <label> <input type="checkbox" ng-model="ctrl.myData2.lossOfConsciousness" ng-true-value="true" ng-false-value="false"/>Loss Of Consciousness</label>
                                   
                                <div class="container-fluid" data-ng-init="phybtnId1='pt1';" >
                                <div>
                            		
                            		<button type="button" class="btn btn-info " data-ng-attr-id="phybtnId1" ng-click="ctrl.showTextAreaPhysical(phybtnId1)" ng-show="ctrl.myData2.lossOfConsciousness">Textarea</button>	
                                    <button type="button" class="btn btn-info" data-ng-attr-id="phybtnId1" ng-click="ctrl.showTouchPadPhysical(phybtnId1)" ng-show="ctrl.myData2.lossOfConsciousness">Touchpad</button>
								 
								</div><!-- buttons closed -->
								<div >
									<textarea ng-show="ctrl.myData2.lossOfConsciousness && !ctrl.myData2.locFlag;" class="form-control" rows="5" id="locText" ng-model="ctrl.myData2.locDescription" placeholder="Description" style="width: 100%"></textarea>
								</div><!-- textarea closed -->
								<div  >
									<!-- This is called while doing post request of loc scribble-->
									<div ng-show="ctrl.myData2.lossOfConsciousness && ctrl.myData2.locFlag;"  ng-controller="MyCtrl" class="modal-body " ng-style="{'max-width': boundingBox.width + 'px', 'max-height': boundingBox.height + 'px'}">
										<signature-pad accept="accept" style="border: 1px solid black;" clear="clear" height="220" width="568" dataurl="dataurl"></signature-pad>
										<span ng-hide="true">{{ctrl.ptouch1=dataurl}}</span>
										<div class="buttons">
											<button type="button" class="btn btn-default" ng-click="clear()">Clear</button>
										</div>
									</div> 
									
								</div><!-- touchpad closed -->
							</div><!-- container closed -->
                          </div><!-- loc closed -->
                     
                          <br>
                           
                               <div>   
                               <label> <input type="checkbox" ng-model="ctrl.myData2.lucidInterval" ng-true-value="true" ng-false-value="false">Lucid Interval</label>
                                
                                 <!--  true is assigned to val2 when checkbox is checked and in this case "true" is assigned to ng-true-value and "false" is assigned to ng-false-value-->  
                                <div class="container-fluid" data-ng-init="phybtnId2='pt2';" >
                                <div>
                            		
                            		<button type="button" class="btn btn-info " data-ng-attr-id="phybtnId2" ng-click="ctrl.showTextAreaPhysical(phybtnId2)" ng-show="ctrl.myData2.lucidInterval">Textarea</button>	
                                    <button type="button" class="btn btn-info" data-ng-attr-id="phybtnId2" ng-click="ctrl.showTouchPadPhysical(phybtnId2)" ng-show="ctrl.myData2.lucidInterval">Touchpad</button>
								 
								</div><!--textarea and touchpad buttons closed -->
								
								<div  >
									<textarea ng-show="ctrl.myData2.lucidInterval && !ctrl.myData2.lucidFlag;" class="form-control" rows="5" id="lucidText" ng-model="ctrl.myData2.lucidDescription" placeholder="Description" style="width: 100%"></textarea>
								</div><!-- textarea closed -->
								
								<div>
									<div ng-show="ctrl.myData2.lucidInterval && ctrl.myData2.lucidFlag;"  ng-controller="MyCtrl" class="modal-body " ng-style="{'max-width': boundingBox.width + 'px', 'max-height': boundingBox.height + 'px'}">
										<signature-pad accept="accept" style="border: 1px solid black;" clear="clear" height="220" width="568" dataurl="dataurl"></signature-pad>
										<span ng-hide="true">{{ctrl.ptouch2=dataurl}}</span>
										<div class="buttons">
											<button type="button" class="btn btn-default" ng-click="clear()">Clear</button>					
										</div>
									</div>
									
								</div><!-- touchpad closed -->
							</div><!-- container closed -->
                          </div><!-- lucid division closed -->  
                                <br>
                       
                               <div>   
                                <label><input type="checkbox" ng-model="ctrl.myData2.seizures" ng-true-value="true" ng-false-value="false"/>Seizures</label>
                                 
                                <div class="container-fluid" data-ng-init="phybtnId3='pt3';" >
                                <div>
                            		
                            		<button type="button" class="btn btn-info " data-ng-attr-id="phybtnId3" ng-click="ctrl.showTextAreaPhysical(phybtnId3)" ng-show="ctrl.myData2.seizures">Textarea</button>	
                                    <button type="button" class="btn btn-info" data-ng-attr-id="phybtnId3" ng-click="ctrl.showTouchPadPhysical(phybtnId3)" ng-show="ctrl.myData2.seizures">Touchpad</button>
								 
								</div><!-- buttons closed -->
								
								<div >
									<textarea ng-show="ctrl.myData2.seizures && !ctrl.myData2.seizureFlag;" class="form-control" rows="5" id="seizureText" ng-model="ctrl.myData2.seizuresDescription" placeholder="Description" style="width: 100%"></textarea>
								</div><!-- textarea closed -->
								
								<div  >
									 <div ng-show="ctrl.myData2.seizures && ctrl.myData2.seizureFlag;"  ng-controller="MyCtrl" class="modal-body " ng-style="{'max-width': boundingBox.width + 'px', 'max-height': boundingBox.height + 'px'}">
										<signature-pad accept="accept" style="border: 1px solid black;" clear="clear" height="220" width="568" dataurl="dataurl"></signature-pad>
										<span ng-hide="true">{{ctrl.ptouch3=dataurl}}</span>
										<div class="buttons">
											<button type="button" class="btn btn-default" ng-click="clear()">Clear</button>
										</div>
									</div>
									
								</div><!-- touchpad closed -->
							</div><!-- container closed -->
                          </div>      <!-- seizure division closed -->  
                          
                                <br>
                                </div>
                                <div class="col-xs-6">
                                
                              <div>   
                              
                               <label> <input type="checkbox" ng-model="ctrl.myData2.vomiting" ng-true-value="true" ng-false-value="false"/>Vomiting</label>
                                   
                                <div class="container-fluid" data-ng-init="phybtnId4='pt4';" >
                                <div>
                            		
                            		<button type="button" class="btn btn-info " data-ng-attr-id="phybtnId4" ng-click="ctrl.showTextAreaPhysical(phybtnId4)" ng-show="ctrl.myData2.vomiting">Textarea</button>	
                                    <button type="button" class="btn btn-info" data-ng-attr-id="phybtnId4" ng-click="ctrl.showTouchPadPhysical(phybtnId4)" ng-show="ctrl.myData2.vomiting">Touchpad</button>
								 
								</div><!-- buttons closed -->
								
								<div  >
									<textarea ng-show="ctrl.myData2.vomiting && !ctrl.myData2.vomitingFlag;" class="form-control" rows="5" id="vomitingText" ng-model="ctrl.myData2.vomitingDescription" placeholder="Description" style="width: 100%"></textarea>
								</div><!-- textarea closed -->
								
								<div >
									<div ng-show="ctrl.myData2.vomiting && ctrl.myData2.vomitingFlag;"  ng-controller="MyCtrl" class="modal-body " ng-style="{'max-width': boundingBox.width + 'px', 'max-height': boundingBox.height + 'px'}">
										<signature-pad accept="accept" style="border: 1px solid black;" clear="clear" height="220" width="568" dataurl="dataurl"></signature-pad>
										<span ng-hide="true">{{ctrl.ptouch4=dataurl}}</span>
										<div class="buttons">
											<button type="button" class="btn btn-default" ng-click="clear()">Clear</button>  
										</div>
									</div>
									
								</div><!-- touchpad closed -->
							</div><!-- container closed -->
                          </div>      <!-- vomiting division closed -->  
                           
                                <br>
                                
                               <div>   
                               <label> <input type="checkbox" ng-model="ctrl.myData2.amnesia" ng-true-value="true" ng-false-value="false" />Amnesia</label>
                                   
                                <div class="container-fluid" data-ng-init="phybtnId5='pt5';" >
                                <div>
                            		
                            		<button type="button" class="btn btn-info " data-ng-attr-id="phybtnId5" ng-click="ctrl.showTextAreaPhysical(phybtnId5)" ng-show="ctrl.myData2.amnesia">Textarea</button>	
                                    <button type="button" class="btn btn-info" data-ng-attr-id="phybtnId5" ng-click="ctrl.showTouchPadPhysical(phybtnId5)" ng-show="ctrl.myData2.amnesia">Touchpad</button>
								 
								</div><!-- buttons closed -->
								
								<div >
									<textarea ng-show="ctrl.myData2.amnesia && !ctrl.myData2.amnesiaFlag;" class="form-control" rows="5" id="amnesiaText" ng-model="ctrl.myData2.amnesiaDescription" placeholder="Description" style="width: 100%"></textarea>
								</div><!-- textarea closed -->
								
								<div>
									<div ng-show="ctrl.myData2.amnesia && ctrl.myData2.amnesiaFlag;"   ng-controller="MyCtrl" class="modal-body " ng-style="{'max-width': boundingBox.width + 'px', 'max-height': boundingBox.height + 'px'}">
										<signature-pad accept="accept" style="border: 1px solid black;" clear="clear" height="220" width="568" dataurl="dataurl"></signature-pad>
										<span ng-hide="true">{{ctrl.ptouch5=dataurl}}</span>
										<div class="buttons">
											<button type="button" class="btn btn-default" ng-click="clear()">Clear</button> 
										</div>
									</div>
								</div><!-- touchpad closed -->
							</div><!-- container closed -->
                          </div>      <!-- amnesia division closed -->           
                               
                               <br>
                                
                            <div>
                               Bleeding from:
                              <label> <input type="checkbox" ng-model="ctrl.myData2.bleedingFromEar" ng-true-value="true" ng-false-value="false"/> Ear</label>
                               <label><input type="checkbox"  ng-model="ctrl.myData2.bleedingFromNose" ng-true-value="true" ng-false-value="false" /> Nose   </label>
                               <div class="container-fluid" data-ng-init="phybtnId6='pt6';" >
                                	<div>
                            			<button type="button" class="btn btn-info " data-ng-attr-id="phybtnId6" ng-click="ctrl.showTextAreaPhysical(phybtnId6)" ng-show="ctrl.myData2.bleedingFromEar || ctrl.myData2.bleedingFromNose">Textarea</button>	
                                    	<button type="button" class="btn btn-info" data-ng-attr-id="phybtnId6" ng-click="ctrl.showTouchPadPhysical(phybtnId6)" ng-show="ctrl.myData2.bleedingFromEar || ctrl.myData2.bleedingFromNose">Touchpad</button>
							
								</div><!-- buttons closed -->
								
								<div >
									<textarea ng-show="(ctrl.myData2.bleedingFromEar || ctrl.myData2.bleedingFromNose) && !ctrl.myData2.bleedingFromFlag;" class="form-control" rows="5" id="bleedingFrmText" ng-model="ctrl.myData2.bleedingFromDescription" placeholder="Description" style="width: 100%"></textarea>
								</div><!-- textarea closed -->
								
								<div>
									<div ng-show="(ctrl.myData2.bleedingFromEar || ctrl.myData2.bleedingFromNose) && ctrl.myData2.bleedingFromFlag;"  ng-controller="MyCtrl" class="modal-body " ng-style="{'max-width': boundingBox.width + 'px', 'max-height': boundingBox.height + 'px'}">
										<signature-pad accept="accept" style="border: 1px solid black;" clear="clear" height="220" width="568" dataurl="dataurl"></signature-pad>
										<span ng-hide="true">{{ctrl.ptouch6=dataurl}}</span>
										<div class="buttons" >
											<button type="button" class="btn btn-default" ng-click="clear()">Clear</button>  
										</div>
									</div>
									
								</div><!-- touchpad closed -->
							</div><!-- container closed -->
                          </div><!-- bleedingfrom division closed -->  
                             
                            </div>
                       </div>
                       </div>
                       
                            <center><label style="padding-top:10px;"><h3>Vital signs on arrival:</h3></label></center>
                           <label style="padding-top:10px;"><h4>Airway on arrival:</h4></label>
                           <br>
                         <p>
    <span class="segmented">
        <label><input type="radio" name="airway" checked><span class="label">clear</span></label>
        <label><input type="radio" name="airway"><span class="label">Requires Intubation</span></label>
    </span>
</p>
                          <label><h4>Spontaneous Respiration:</h4></label>

                         <p>
    <span class="segmented">
        <label><input type="radio" name="res" checked><span class="label">Normal</span></label>
        <label><input type="radio" name="res"><span class="label">Tachypnoeic</span></label>
         <label><input type="radio" name="res"><span class="label">Gasping</span></label>
    </span>
</p>
<label><h4>Carotid Pulsations:</h4></label>
<br>
  <p>
    <span class="segmented">
        <label><input type="radio" name="cp" checked><span class="label">Left</span></label>
        <label><input type="radio" name="cp"><span class="label">Right</span></label>
    </span>
</p>  
<!-- <div style="padding-bottom:20px">
<label> LEFT </label>
<label class="switch" for="checkbox">
    <input type="checkbox" id="checkbox" />
    <div class="slider round"></div>
  </label>
  <label>RIGHT</label>
  </div> -->

<!--  <li class="list-group-item"><strong>Spontaneous Respiration</strong>
                                        <div class="container-fluid">
                                            <div class="col-sm-4">
                                                <label class="radio-inline">
                                                    <input name="Spontaneous" id="type-c" ng-model="ctrl.myData2.spontaneousRespiration" value="Normal" type="radio" />Normal
                                                </label>
                                            </div>
                                            <div class="col-sm-4">
                                                <label class="radio-inline">
                                                    <input name="Spontaneous" id="type-r" ng-model="ctrl.myData2.spontaneousRespiration" value="Tachypnoeic" type="radio" />Tachypnoeic
                                                </label>
                                            </div>
                                             <div class="col-sm-4">
                                                <label class="radio-inline">
                                                    <input name="Spontaneous" id="type-g" ng-model="ctrl.myData2.spontaneousRespiration" value="Gasping" type="radio" />Gasping
                                                </label>
                                            </div>
                                        </div>
                                    </li>

									<li class="list-group-item"><strong>Carotid Pulsations</strong>
                                        <div class="container-fluid">
                                            <div class="col-sm-4">
                                                <label class="radio-inline">
                                                    <input name="Carotid" id="type-ctr" ng-model="ctrl.myData2.carotidPulsation" value="Right" type="radio" />Right
                                                </label>
                                            </div>
                                            <div class="col-sm-4">
                                                <label class="radio-inline">
                                                    <input name="Carotid" id="type-ctl" ng-model="ctrl.myData2.carotidPulsation" value="Left" type="radio" />Left
                                                </label>
                                            </div>
                                        </div>
                                    </li>
									 -->
                                    <li class="list-group-item ">
                                    <div class="container-fluid">
                                    <label class="col-sm-4"><strong>Pulse Rate(/min):</strong></label>
                                   
                                    <div class="col-sm-4">
                                     <input type="text" class="form-control" id="pulse" ng-model="ctrl.myData2.pulseRrate ">
                                    </div> 
                                    
                                      </div>
                                    </li>

                                    <li class="list-group-item">
                                    <div class="container-fluid">
                                     <label class="col-sm-4"><strong>Blood Pressure on Arrival(/mmHg):</strong></label>
                                      <div class="col-sm-4">
                                       <input type="text" class="form-control" id="bp" ng-model="ctrl.myData2.bpOnArrival ">
                                     </div>   
                                     </div>
                                    </li>
                                    
                                     <li class="list-group-item">
                                      <div class="container-fluid">
                                       <label class="col-sm-4"><strong>Blood Pressure After Half Hour(/mmHg):</strong></label>
                                        <div class="col-sm-4">
                                        <input type="text" class="form-control" id="bpafter" ng-model="ctrl.myData2.bpAfterHalfHour ">
                                    	 </div>
                                    	 </div>
									 </li>
								</ul>

                            </div>
                        </div>
                        
                       	<div class="form-group col-sm-12">
                            <label class="control-label col-sm-12" style="text-align: left">Systemic Examination:</label>
                              <div>
                              	<div class="col-sm-4">
                                	<label class="radio-inline">
                                    	<input name="csf" id="type-r" value="Rhinorrhoea" type="radio" ng-model="ctrl.myData2.csf" ng-true-value="true" ng-false-value="false" />Rhinorrhoea
                                 	</label>
                               	</div>
                                <div class="col-sm-4">
                                	<label class="radio-inline">
                                    	<input name="csf" id="type-o" value="Otorrhoea" type="radio" ng-model="ctrl.myData2.csf" ng-true-value="true" ng-false-value="false"/> Otorrhoea
                                   	</label>
                                </div>
                                <div class="col-sm-4">
                                 	<label class="radio-inline">
                                    	<input name="csf" id="type-b" value="Both" type="radio" ng-model="ctrl.myData2.csf" ng-true-value="true" ng-false-value="false"/> Both
                                    </label>
                                </div>
                                <div class="container-fluid" data-ng-init="phybtnId7='pt7';" >
                                	<div>
                            			<button type="button" class="btn btn-info " data-ng-attr-id="phybtnId7" ng-click="ctrl.showTextAreaPhysical(phybtnId7)" ng-show="ctrl.myData2.csf">Textarea</button>	
                                    	<button type="button" class="btn btn-info" data-ng-attr-id="phybtnId7" ng-click="ctrl.showTouchPadPhysical(phybtnId7)" ng-show="ctrl.myData2.csf">Touchpad</button>
								 	</div>
									<div>
										<textarea ng-show="ctrl.myData2.csf && !ctrl.myData2.csfFlag;" class="form-control" rows="5" id="csfText" ng-model="ctrl.myData2.csfDesc" placeholder="Description" style="width: 100%"></textarea>
									</div>
									<div >
										<div ng-show="ctrl.myData2.csf && ctrl.myData2.csfFlag"  ng-controller="MyCtrl" class="modal-body " ng-style="{'max-width': boundingBox.width + 'px', 'max-height': boundingBox.height + 'px'}">
											<signature-pad accept="accept" style="border: 1px solid black;" clear="clear" height="220" width="568" dataurl="dataurl"></signature-pad>
											<span ng-hide="true">{{ctrl.ptouch7=dataurl}}</span>
											<div class="buttons">
												<button type="button" class="btn btn-default" ng-click="clear()">Clear</button>               
											</div>
										</div>
									</div><!-- touchpad closed -->
								</div><!--container closed  -->
                          	</div> <!-- csf division closed --> 
                       
                                        
                           	<div>   
                               	<label><input type="checkbox" id="type-apb" value="Active peripheral Bleeding" ng-model="ctrl.myData2.activePeripheralBleeding" ng-true-value="true" ng-false-value="false"  />Active peripheral Bleeding</label>
                                <div class="container-fluid" data-ng-init="phybtnId8='pt8';" >
                                	<div>
                            			<button type="button" class="btn btn-info " data-ng-attr-id="phybtnId8" ng-click="ctrl.showTextAreaPhysical(phybtnId8)" ng-show="ctrl.myData2.activePeripheralBleeding">Textarea</button>	
                                    	<button type="button" class="btn btn-info" data-ng-attr-id="phybtnId8" ng-click="ctrl.showTouchPadPhysical(phybtnId8)" ng-show="ctrl.myData2.activePeripheralBleeding">Touchpad</button>
								 	</div><!-- buttons closed -->
								
									<div>
										<textarea ng-show="ctrl.myData2.activePeripheralBleeding && !ctrl.myData2.activePeripheralBleedingFlag;" class="form-control" rows="5" id="apbText" ng-model="ctrl.myData2.activePeripheralBleedingDesc" placeholder="Description" style="width: 100%"></textarea>
									</div><!-- textarea closed -->
								
									<div>
										<div ng-show="ctrl.myData2.activePeripheralBleeding && ctrl.myData2.activePeripheralBleedingFlag;"  ng-controller="MyCtrl" class="modal-body " ng-style="{'max-width': boundingBox.width + 'px', 'max-height': boundingBox.height + 'px'}">
											<signature-pad accept="accept" style="border: 1px solid black;" clear="clear" height="220" width="568" dataurl="dataurl"></signature-pad>
											<span ng-hide="true">{{ctrl.ptouch8=dataurl}}</span>
											<div class="buttons">
												<button type="button" class="btn btn-default" ng-click="clear()">Clear</button>               
											</div>
										</div>
									</div><!-- touchpad closed -->
								</div><!-- container closed -->
                          	</div><!-- active peripheral bleeding division closed -->  
                                        
                            <div>   
                               <label> <input type="checkbox" id="type-fracture" value="Fractures" ng-model="ctrl.myData2.fractures" ng-true-value="true" ng-false-value="false" />Fractures</label>
                                <div class="container-fluid" data-ng-init="phybtnId9='pt9';" >
                                	<div>
	                            		<button type="button" class="btn btn-info " data-ng-attr-id="phybtnId9" ng-click="ctrl.showTextAreaPhysical(phybtnId9)" ng-show="ctrl.myData2.fractures">Textarea</button>	
                                    	<button type="button" class="btn btn-info" data-ng-attr-id="phybtnId9" ng-click="ctrl.showTouchPadPhysical(phybtnId9)" ng-show="ctrl.myData2.fractures">Touchpad</button>
								 	</div><!-- buttons closed -->
									
									<div>
										<textarea ng-show="ctrl.myData2.fractures && !ctrl.myData2.fracturesFlag;" class="form-control" rows="5" id="fractureText" ng-model="ctrl.myData2.fracturesDesc" placeholder="Description" style="width: 100%"></textarea>
									</div><!-- textarea closed -->
									
									<div>
										<div ng-show="ctrl.myData2.fractures && ctrl.myData2.fracturesFlag;"  ng-controller="MyCtrl" class="modal-body " ng-style="{'max-width': boundingBox.width + 'px', 'max-height': boundingBox.height + 'px'}">
											<signature-pad accept="accept" style="border: 1px solid black;" clear="clear" height="220" width="568" dataurl="dataurl"></signature-pad>
											<span ng-hide="true">{{ctrl.ptouch9=dataurl}}</span>
											<div class="buttons">
												<button type="button" class="btn btn-default" ng-click="clear()">Clear</button>               
											</div>
										</div>
									</div><!-- touchpad closed -->
								</div><!-- container closed -->
                          	</div><!-- fractures division closed -->            
                                                
                            <div>   
                            	<label><input type="checkbox" id="type-pp" value="Peripheral Pulses" ng-model="ctrl.myData2.peripheralPulses" ng-true-value="true" ng-false-value="false"  />Peripheral Pulses</label>
                                <div class="container-fluid" data-ng-init="phybtnId10='pt10';" >
                                	<div>
                            			<button type="button" class="btn btn-info" data-ng-attr-id="phybtnId10" ng-click="ctrl.showTextAreaPhysical(phybtnId10)" ng-show="ctrl.myData2.peripheralPulses">Textarea</button>	
                                    	<button type="button" class="btn btn-info" data-ng-attr-id="phybtnId10" ng-click="ctrl.showTouchPadPhysical(phybtnId10)" ng-show="ctrl.myData2.peripheralPulses">Touchpad</button>
								 	</div><!-- buttons closed -->
									
									<div >
										<textarea ng-show="ctrl.myData2.peripheralPulses && !ctrl.myData2.peripheralPulsesFlag;" class="form-control" rows="5" id="fractureText" ng-model="ctrl.myData2.peripheralPulsesDesc" placeholder="Description" style="width: 100%"></textarea>
									</div><!-- textarea closed -->
								
									<div >
										<div ng-show="ctrl.myData2.peripheralPulses && ctrl.myData2.peripheralPulsesFlag;"  ng-controller="MyCtrl" class="modal-body " ng-style="{'max-width': boundingBox.width + 'px', 'max-height': boundingBox.height + 'px'}">
											<signature-pad accept="accept" style="border: 1px solid black;" clear="clear" height="220" width="568" dataurl="dataurl"></signature-pad>
											<span ng-hide="true">{{ctrl.ptouch10=dataurl}}</span>
											<div class="buttons">
												<button type="button" class="btn btn-default" ng-click="clear()">Clear</button>               
											</div>
										</div>
									</div><!-- touchpad closed -->
								</div><!-- container closed -->
                          	</div><!--peripheral pulses division closed -->            
          
                            <div>   
                                <label><input type="checkbox" id="type-ci" value="Chest Injury" ng-model="ctrl.myData2.chestInjury" ng-true-value="true" ng-false-value="false"  />Chest Injury</label>
                                <div class="container-fluid" data-ng-init="phybtnId11='pt11';" >
                                	<div>
                            			<button type="button" class="btn btn-info" data-ng-attr-id="phybtnId11" ng-click="ctrl.showTextAreaPhysical(phybtnId11)" ng-show="ctrl.myData2.chestInjury">Textarea</button>	
                                    	<button type="button" class="btn btn-info" data-ng-attr-id="phybtnId11" ng-click="ctrl.showTouchPadPhysical(phybtnId11)" ng-show="ctrl.myData2.chestInjury">Touchpad</button>
									</div><!-- buttons closed -->
								
									<div>
										<textarea ng-show="ctrl.myData2.chestInjury && !ctrl.myData2.chestInjuryFlag;" class="form-control" rows="5" id="chestinjuryText" ng-model="ctrl.myData2.chestInjuryDesc" placeholder="Description" style="width: 100%"></textarea>
									</div><!-- textarea closed -->
									
									<div >
										<div ng-show="ctrl.myData2.chestInjury && ctrl.myData2.chestInjuryFlag;"  ng-controller="MyCtrl" class="modal-body " ng-style="{'max-width': boundingBox.width + 'px', 'max-height': boundingBox.height + 'px'}">
											<signature-pad accept="accept" style="border: 1px solid black;" clear="clear" height="220" width="568" dataurl="dataurl"></signature-pad>
											<span ng-hide="true">{{ctrl.ptouch11=dataurl}}</span>
											<div class="buttons">
												<button type="button" class="btn btn-default" ng-click="clear()">Clear</button>               
											</div>
										</div>
									</div><!-- touchpad closed -->
								</div><!-- container closed -->
                          	</div><!-- chest injury division closed --> 
                                   
                            <div>   
                            	<label><input type="checkbox" id="type-ai" value="Abdominal Injury" ng-model="ctrl.myData2.abdominalInjury" ng-true-value="true" ng-false-value="false"  />Abdominal Injury</label>
                                <div class="container-fluid" data-ng-init="phybtnId12='pt12';" >
	                                <div>
	                            		<button type="button" class="btn btn-info" data-ng-attr-id="phybtnId12" ng-click="ctrl.showTextAreaPhysical(phybtnId12)" ng-show="ctrl.myData2.abdominalInjury">Textarea</button>	
	                                    <button type="button" class="btn btn-info" data-ng-attr-id="phybtnId12" ng-click="ctrl.showTouchPadPhysical(phybtnId12)" ng-show="ctrl.myData2.abdominalInjury">Touchpad</button>
									</div><!-- buttons closed -->
									
									<div >
										<textarea ng-show="ctrl.myData2.abdominalInjury && !ctrl.myData2.abdominalInjuryFlag;" class="form-control" rows="5" id="abdominalInjuryText" ng-model="ctrl.myData2.abdominalInjuryDesc" placeholder="Description" style="width: 100%"></textarea>
									</div><!-- textarea closed -->
									
									<div>
										<div ng-show="ctrl.myData2.abdominalInjury && ctrl.myData2.abdominalInjuryFlag;"  ng-controller="MyCtrl" class="modal-body " ng-style="{'max-width': boundingBox.width + 'px', 'max-height': boundingBox.height + 'px'}">
											<signature-pad accept="accept" style="border: 1px solid black;" clear="clear" height="220" width="568" dataurl="dataurl"></signature-pad>
											<span ng-hide="true">{{ctrl.ptouch12=dataurl}}</span>
											<div class="buttons">
												<button type="button" class="btn btn-default" ng-click="clear()">Clear</button>               
											</div>
										</div>
									</div><!-- touchpad closed -->
								</div><!-- container closed -->
                          	</div><!-- abdominal injury division closed --> 
                                      
                           	<div>   
                            	<label><input type="checkbox" id="type-w" value="Abdominal Injury" ng-model="ctrl.myData2.wounds" ng-true-value="true" ng-false-value="false" />Wounds</label>
                                <div class="container-fluid" data-ng-init="phybtnId13='pt13';" >
                                	<div>
                            			<button type="button" class="btn btn-info" data-ng-attr-id="phybtnId13" ng-click="ctrl.showTextAreaPhysical(phybtnId13)" ng-show="ctrl.myData2.wounds">Textarea</button>	
                                    	<button type="button" class="btn btn-info" data-ng-attr-id="phybtnId13" ng-click="ctrl.showTouchPadPhysical(phybtnId13)" ng-show="ctrl.myData2.wounds">Touchpad</button>
								 	</div><!-- buttons closed -->
									
									<div >
										<textarea ng-show="ctrl.myData2.wounds && !ctrl.myData2.woundsFlag;" class="form-control" rows="5" id="woundsText" ng-model="ctrl.myData2.woundsDesc" placeholder="Description" style="width: 100%"></textarea>
									</div><!-- textarea closed -->
								
									<div >
										<div ng-show="ctrl.myData2.wounds && ctrl.myData2.woundsFlag;"  ng-controller="MyCtrl" class="modal-body " ng-style="{'max-width': boundingBox.width + 'px', 'max-height': boundingBox.height + 'px'}">
											<signature-pad accept="accept" style="border: 1px solid black;" clear="clear" height="220" width="568" dataurl="dataurl"></signature-pad>
											<span ng-hide="true">{{ctrl.ptouch13=dataurl}}</span>
											<div class="buttons">
												<button type="button" class="btn btn-default" ng-click="clear()">Clear</button>               
											</div>
										</div>
									</div><!-- touchpad closed -->
								</div><!-- container closed -->
                          	</div><!-- wounds division closed -->             
                         </div>
                        
                            <div class="form-group">
                            	<label class="control-label col-sm-12" style="text-align: left">Details Of Spine Examination:</label>
                                <div class="col-sm-4">
                                	<label class="radio-inline">
                                    	<input type="checkbox" id="type-t" value="Spinal Tenderness" ng-model="ctrl.myData2.spinalTenderness" ng-true-value="true" ng-false-value="false" />Spinal Tenderness
                                    </label>
                            	</div>
                                
                                <div class="col-sm-4">
                                	<label class="radio-inline">
                                    	<input type="checkbox" id="type-d" value="Spinal Deformity" ng-model="ctrl.myData2.spinalDeformity" ng-true-value="true" ng-false-value="false"/>Spinal Deformity
                                    </label>
                              	</div>
                                       
                                <div class="container-fluid" data-ng-init="phybtnId14='pt14';" >
                                	<div>
                            			<button type="button" class="btn btn-info" data-ng-attr-id="phybtnId14" ng-click="ctrl.showTextAreaPhysical(phybtnId14)" ng-show="ctrl.myData2.spinalTenderness || ctrl.myData2.spinalDeformity">Textarea</button>	
                                    	<button type="button" class="btn btn-info" data-ng-attr-id="phybtnId14" ng-click="ctrl.showTouchPadPhysical(phybtnId14)" ng-show="ctrl.myData2.spinalTenderness || ctrl.myData2.spinalDeformity">Touchpad</button>
								 	</div>
								
									<div>
										<textarea ng-show="(ctrl.myData2.spinalTenderness || ctrl.myData2.spinalDeformity) && !ctrl.myData2.spinalFlag;" class="form-control" rows="5" id="spinalText" ng-model="ctrl.myData2.spinalDesc" placeholder="Description" style="width: 100%"></textarea>
									</div>
								
									<div>
										<div ng-show="(ctrl.myData2.spinalTenderness || ctrl.myData2.spinalDeformity) && ctrl.myData2.spinalFlag;" ng-controller="MyCtrl" class="modal-body " ng-style="{'max-width': boundingBox.width + 'px', 'max-height': boundingBox.height + 'px'}">
											<signature-pad accept="accept" style="border: 1px solid black;" clear="clear" height="220" width="568" dataurl="dataurl"></signature-pad>
											<span ng-hide="true">{{ctrl.ptouch14=dataurl}}</span>
											<div class="buttons">
												<button type="button" class="btn btn-default" ng-click="clear()">Clear</button>               
											</div>
 									</div>
									</div><!-- touchpad closed -->
								</div><!--container closed  -->
							</div> <!-- spinal division closed --> 
                         
                          
                        <div class="form-group">
                          	<div class="col-sm-offset-4 col-sm-3" data-ng-init="physicalbtnId='form2';">
                                <button type="button" class="btn btn-primary ">Save</button>
                                <button data-ng-attr-id="physicalbtnId" type="button" class="btn btn-success " ng-click="ctrl.confirmSubmit(physicalbtnId)">Submit</button>
                            </div>
                     	</div>    
	</form>
	</body>
	</html>