<html ng-app="myApp">

<head>
<meta charset="UTF-8">

<title>Home</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="bootstrap/css/bootstrap-theme.min.css">
<link rel="stylesheet" href="bootstrap/css/bootstrap.min.css">

<script src="bootstrap/js/jquery-3.1.1.min.js"></script>
<script src="bootstrap/js/bootstrap.min.js"></script>
<script src="angular.js"></script>
<script src="signature_pad.min.js"></script>
<script src="signature.js"></script>
<script src="ng-file-upload-bower-12.2.13/ng-file-upload-shim.min.js"></script>
<!-- for no html5 browsers support -->
<script src="ng-file-upload-bower-12.2.13/ng-file-upload.min.js"></script>
<script src="upload.js">
	
</script>

<script src="traumaapp.js">
	
</script>
<script src="traumacontroller.js"></script>
<script src="traumaservice.js"></script>
<script type="text/javascript" src="sketchJS.js"></script>
<link rel="stylesheet" href="upload.css">

<!-- Custom Fonts -->
<link href="bootstrap/font-awesome/css/font-awesome.min.css"
	rel="stylesheet" type="text/css">

<style>
a {
	color: darkgrey;
	text-decoration: none;
}

.btn-info {
	color: darkgrey;
	background-color: #455a64;
	border-color: #455a64;
}

.navbar-header .navbar-toggle .icon-bar {
	background-color: black;
}
</style>

</head>

<body style="background-color: #eceff1;">
	<div class="container-fixed">
		<div class="row">
			<div class="col-sm-1">

				<img src="images/nms.jpg">

			</div>
			<div class="col-sm-11">
				<h1>National Institute Of Mental Health And Neurosciences</h1>

			</div>
		</div>
	</div>
	<div class="container-fluid" style="background-color: #455a64">
		<nav>
			<div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed"
					style="background-color: darkgrey;" data-toggle="collapse"
					data-target="#bs-menu-navbar-collapse-1" aria-expanded="false">
					<span class="sr-only">Toggle navigation</span> <span
						class="icon-bar"></span> <span class="icon-bar"></span> <span
						class="icon-bar"></span>
				</button>
			</div>

			<div class="collapse navbar-collapse" id="bs-menu-navbar-collapse-1">
				<ul class="nav navbar-nav">
					<li><a href="#">Home</a></li>
					<li><a href="#">Events</a></li>
					<li><a href="#">Contact Us</a></li>
				</ul>

				<ul class="nav navbar-right navbar-nav">
					<form class="navbar-form navbar-left" role="search"></form>

					<li class="dropdown"><a href="#" class="dropdown-toggle"
						data-toggle="dropdown"><i class="fa fa-user"></i> Dr. John
							Smith <b class="caret"></b></a>
						<ul class="dropdown-menu">
							<li><a href="#"><i class="fa fa-fw fa-user"></i> Profile</a>
							</li>
							<li><a href="#"><i class="fa fa-fw fa-gear"></i>
									Settings</a></li>
							<li class="divider"></li>
							<li><a href="#"><i class="fa fa-fw fa-power-off"></i>
									Log Out</a></li>
						</ul></li>
				</ul>

			</div>

		</nav>
	</div>

	<div class="container-fluid">

		<!---sidebar-->
		<div class="col-md-2 col-sm-2 innerForm-tab-menu">
			<br>

			<div class="list-group">
				<a href="#" class="list-group-item active text-center"> Patient
					Details </a> <a href="#" class="list-group-item text-center">
					Patient History </a> <a href="#" class="list-group-item text-center">
					Next Patient </a> <a href="#" class="list-group-item text-center">
					Submit </a>
			</div>

		</div>

		<!---DEMOGRAPHIC DATA FORM START-->

		<div id="newForm" class="col-md-10 col-sm-10"
			ng-controller="dbDataCtrl as ctrl">
			<div class="jumbotron"
				style="background-color: white; min-height: 1000px;">
				<div class="container-fluid"
					style="border: 1px solid black; border-radius: 20px;">
					<h3>
						<strong><u>DEMOGRAPHIC DETAILS:</u></strong>
					</h3>
					<br>

					<form class="form-horizontal">

						<div class="media-body">
							<button ng-hide="ctrl.editMode" type="button"
								class="btn btn-info" ng-click="ctrl.toggleEditMode()">Edit</button>
							<button ng-show="ctrl.editMode" type="button"
								class="btn btn-info" ng-click="ctrl.saveUser()">Save</button>
							<button ng-click="ctrl.addContact()">New Patient</button>
							</br>
							<div class="form-group">
								<label class="control-label col-sm-4" style="text-align: left">Name:</label>
								<div class="col-sm-5">

									<span ng-hide="ctrl.editMode">{{ctrl.myData1[0].name}}</span> <input
										type="text" class="form-control" id="name"
										placeholder="Enter name" ng-show="ctrl.editMode"
										ng-model="ctrl.myData1.name">
								</div>

								

							</div>
							<div class="form-group">
								<label class="control-label col-sm-4" for="age"
									style="text-align: left">Age:</label>
								<div class="col-sm-5">
									<span ng-hide="ctrl.editMode">{{ctrl.myData1[0].age}}</span> <input
										type="number" class="form-control" id="age"
										placeholder="Enter age" ng-show="ctrl.editMode"
										ng-model="ctrl.myData1.age">
								</div>
							</div>

							<div class="form-group">
								<label class="control-label col-sm-4" style="text-align: left">Gender:</label>
								<span class="col-sm-2" ng-hide="ctrl.editMode">{{ctrl.myData1[0].sex}}</span>
								<div class="col-sm-2" ng-show="ctrl.editMode">
									<label class="radio-inline"> <input name="gender"
										id="input-gender-male" value="M" type="radio"
										ng-model="ctrl.myData1.sex" />Male
									</label>
								</div>
								<div class="col-sm-2" ng-show="ctrl.editMode">
									<label class="radio-inline"> <input name="gender"
										id="input-gender-female" value="F" type="radio"
										ng-model="ctrl.myData1.sex" />Female
									</label>
								</div>
							</div>

							<div class="form-group">
								<label class="control-label col-sm-4" for="refer"
									style="text-align: left">Referred from:</label>
								<div class="col-sm-5">
									<input name="referred_from" type="text" class="form-control"
										id="referred_from" placeholder="Enter referred from"
										ng-show="ctrl.editMode">
								</div>
							</div>

							<div class="form-group">
								<!-- Date input -->
								<label class="control-label col-sm-4" for="date"
									style="text-align: left">Date and time of Examination:</label>
								<div class="col-sm-3">
									<span ng-hide="ctrl.editMode">{{ctrl.myData1[0].dateOfEncounter
										| date}}</span> <input name="DOE" type="date" class="form-control"
										id="date_of_exam" ng-show="ctrl.editMode"
										ng-model="ctrl.myData1.dateOfEncounter">
								</div>
								<div class="col-sm-2">
									<span ng-hide="ctrl.editMode">{{ctrl.myData1[0].dateOfEncounter
										| date : "shortTime"}}</span> <input name="Time" type="time"
										class="form-control" id="time_of_exam" ng-show="ctrl.editMode"
										ng-model="ctrl.myData1.dateOfEncounter">
								</div>
							</div>

							<div class="form-group">
								<label class="control-label col-sm-4" for="informant_name"
									style="text-align: left">Informant's Name:</label>
								<div class="col-sm-5">
									<span ng-hide="ctrl.editMode">{{ctrl.myData1[0].informantName}}</span>
									<input type="text" class="form-control" id="informant_name"
										placeholder="Enter informant's name" ng-show="ctrl.editMode"
										ng-model="ctrl.myData1.informantName">
								</div>
							</div>

							<div class="form-group">
								<label class="control-label col-sm-4" style="text-align: left">Informant's
									type:</label> <span class="col-sm-2" ng-hide="ctrl.editMode">{{ctrl.myData1[0].informantType}}</span>
								<div class="col-sm-2" ng-show="ctrl.editMode"
									ng-model="ctrl.myData1.informantType">
									<label class="radio-inline"> <input name="infor-type"
										id="type-e" value="Eyewitness" type="radio"
										ng-model="ctrl.myData1.informantType" />Eyewitness
									</label>
								</div>
								<div class="col-sm-2" ng-show="ctrl.editMode">
									<label class="radio-inline"> <input name="infor-type"
										id="type-w" value="Hearsay" type="radio"
										ng-model="ctrl.myData1.informantType" />Hearsay
									</label>
								</div>
							</div>

							<div class="form-group">
								<!-- Date input -->
								<label class="control-label col-sm-4" for="date-of-injury"
									style="text-align: left">Date and time of injury:</label>
								<div class="col-sm-3">
									<input name="DOI" type="date" class="form-control"
										id="date_of_injury">
								</div>
								<div class="col-sm-2">
									<input name="TOI" type="time" class="form-control"
										id="time_of_injury">
								</div>
							</div>

							<div class="form-group">
								<label class="control-label col-sm-4" for="place of injury"
									style="text-align: left">Place of Injury:</label>
								<div class="col-sm-5">
									<input type="text" class="form-control" id="place-of-injury"
										placeholder="Enter place of injury">
								</div>
							</div>

							<div class="form-group">
								<label class="control-label col-sm-4" for="history"
									style="text-align: left">History of injury in detail:</label>
								<div class="col-sm-5">
									<ul class="list-group">
										<li class="list-group-item">Incident: <span
											ng-hide="ctrl.editMode">{{ctrl.myData1[0].injuryScenario}}</span>
											<div class="container-fluid" ng-show="ctrl.editMode">
												<div class="col-sm-3">
													<label class="radio-inline"> <input name="incident"
														id="input-rta" value="RTA" type="radio"
														ng-model="ctrl.myData1.injuryScenario" />RTA
													</label>
												</div>
												<div class="col-sm-3">
													<label class="radio-inline"> <input name="incident"
														id="input-fall" value="Fall" type="radio"
														ng-model="ctrl.myData1.injuryScenario" />Fall
													</label>
												</div>
												<div class="col-sm-3">
													<label class="radio-inline"> <input name="incident"
														id="input-assault" value="Assault" type="radio"
														ng-model="ctrl.myData1.injuryScenario" />Assault
													</label>
												</div>
												<div class="col-sm-2">
													<label class="radio-inline"> <input name="incident"
														id="input-other" value="Other" type="radio"
														ng-model="ctrl.myData1.injuryScenario" />Other
													</label>
												</div>
											</div>

										</li>
										<li class="list-group-item">Victim Type:
											<div class="container-fluid">
												<div class="col-sm-3">
													<label class="radio-inline"> <input name="victim"
														id="input-driver" value="Driver" type="radio" />Driver
													</label>
												</div>
												<div class="col-sm-4">
													<label class="radio-inline"> <input name="victim"
														id="input-pass" value="Passenger" type="radio" />Passenger
													</label>
												</div>
												<div class="col-sm-3">
													<label class="radio-inline"> <input name="victim"
														id="input-pedest" value="Pedestrian" type="radio" />Pedestrian
													</label>
												</div>

											</div>

										</li>
										<li class="list-group-item">Helmet:
											<div class="container-fluid">
												<div class="col-sm-3">
													<label class="radio-inline"> <input name="helmet"
														id="input-yes" value="yes" type="radio" />Yes
													</label>
												</div>
												<div class="col-sm-3">
													<label class="radio-inline"> <input name="helmet"
														id="input-no" value="no" type="radio" />No
													</label>
												</div>
											</div>

										</li>
										<li class="list-group-item">Alcohol Intake:
											<div class="container-fluid">
												<div class="col-sm-3">
													<label class="radio-inline"> <input name="alcohol"
														id="input-yes" value="yes" type="radio" />Yes
													</label>
												</div>
												<div class="col-sm-3">
													<label class="radio-inline"> <input name="alcohol"
														id="input-no" value="no" type="radio" />No
													</label>
												</div>
											</div>

										</li>
									</ul>
								</div>
							</div>

							<div class="form-group">
								<div class="col-sm-offset-4 col-sm-3">
									<button type="button" class="btn btn-primary ">Save</button>
									<button type="button" class="btn btn-success ">Submit</button>
								</div>
							</div>
						</div>
					</form>
				</div>

				<!--DEMOGRAPHIC DATA FORM END-->
				<br>
				<!--PHYSICAL EXAMINATION FORM START-->
				<div class="container-fluid"
					style="border: 1px solid black; border-radius: 20px;">
					<h3>
						<strong><u>PHYSICAL EXAMINATION:</u></strong>
					</h3>
					<br>
					<form class="form-horizontal">
						<div class="form-group">
							<label class="control-label col-sm-4" for="history"
								style="text-align: left">History of injury in detail:</label>
							<div class="col-sm-5">

								<div class="input-group">
									<input type="checkbox"
										ng-checked="ctrl.myData2[0].lossOfConsciousness == 1"
										ng-model="val1" ng-true-value="true" ng-false-value="false" />Loss
									Of Consciousness <br>


									<button ng-show="val1" type="button" class="btn btn-info "
										ng-click=ctrl.showTextarea()>Textarea</button>
									<button ng-show="val1" type="button" class="btn btn-info"
										id="btn2" data-toggle="modal" data-target="#myModal">Touchpad</button>
									<textarea ng-show="ctrl.editMode" class="form-control" rows="5"
										id="myText" placeholder="Description" style="width: 10cm"></textarea>
									<!-- Modal -->
									<div class="modal fade" id="myModal" role="dialog"
										ng-controller="MyCtrl">
										<div class="modal-dialog">
											<!-- Modal content-->
											<div class="modal-content">
												<div class="modal-header">
													<button type="button" class="close" data-dismiss="modal">&times;</button>
													<h4 class="modal-title">Write Here</h4>
												</div>
												<div class="modal-body"
													ng-style="{'max-width': boundingBox.width + 'px', 'max-height': boundingBox.height + 'px'}">
													<signature-pad accept="accept" clear="clear" height="220"
														width="568" dataurl="dataurl"></signature-pad>
													<div class="buttons" data-ng-init="btnId='loc';">
														<button type="button" class="btn btn-default"
															ng-click="clear()">Clear</button>
														<button data-ng-attr-id="btnId" type="button"
															class="btn btn-default"
															ng-click="signature = accept(); callingblob(signature.dataUrl,btnId);"
															data-dismiss="modal">Save</button>
													</div>
												</div>
											</div>
										</div>
									</div>

								</div>
								<br>
								<div class="input-group">
									<input type="checkbox"
										ng-checked="ctrl.myData2[0].amnesia == 1">Amnesia <br>
									<textarea class="form-control" rows="5" id="desc"
										placeholder="Description" style="width: 10cm"></textarea>
								</div>

							</div>
						</div>

						<div class="form-group">
							<label class="control-label col-sm-4" style="text-align: left">Vital
								signs on Arrival:</label>
							<div class="col-sm-5">
								<ul class="list-group">
									<li class="list-group-item">Airway on arrival:
										<div class="container-fluid">
											<div class="col-sm-3">
												<label class="radio-inline"> <input name="airway"
													id="type-c" value="Clear" type="radio" />Clear
												</label>
											</div>
											<div class="col-sm-3">
												<label class="radio-inline"> <input name="airway"
													id="type-r" value="Requires Incubation" type="radio" />Requires
													Intubation
												</label>
											</div>
										</div>
									</li>

									<li class="list-group-item">Spontaneous Respiration
										<div class="container-fluid">
											<div class="col-sm-3">
												<label class="radio-inline"> <input
													name="Spontaneous" id="type-c" value="Normal" type="radio" />Normal
												</label>
											</div>
											<div class="col-sm-3">
												<label class="radio-inline"> <input
													name="Spontaneous" id="type-r" value="Tachypnoeic"
													type="radio" />Tachypnoeic
												</label>
											</div>
										</div>
									</li>

									<li class="list-group-item">Pulse Rate(/min): <span
										ng-hide="ctrl.editMode">{{ctrl.myData2[0].pulseRrate}}</span>
										<div ng-show="ctrl.editMode" class="container-fluid">
											<label class="control-label col-sm-3"></label>
											<div class="col-sm-8">
												<input type="number" class="form-control" id="pulse_rate"
													placeholder="Enter pulse rate">
											</div>
										</div>
									</li>

									<li class="list-group-item">Blood Pressure on Arrival: <span
										ng-hide="ctrl.editMode">{{ctrl.myData2[0].bloodPressure}}</span>
										<div ng-show="ctrl.editMode" class="container-fluid">
											<label class="control-label col-sm-3"></label>
											<div class="col-sm-3">
												<input type="number" class="form-control"
													id="blood_pressure" placeholder="Enter blood pressure">
											</div>
										</div>
									</li>

								</ul>

							</div>
						</div>
						<div class="form-group">
							<label class="control-label col-sm-4" style="text-align: left">Systemic
								Examination:</label>
							<div class="col-sm-5">
								<ul class="list-group">
									<li class="list-group-item">
										<div class="container-fluid">
											<div class="col-sm-6">
												<label class="radio-inline"> <input name="SE"
													id="type-csf" value="CSF Rhinohorrea" type="radio" />CSF
													Rhinohorrea
												</label>
											</div>
											<div class="col-sm-4">
												<label class="radio-inline"> <input name="SE"
													id="type-oto" value="Otorrhoea" type="radio" />Otorrhoea
												</label>
											</div>
											<div class="col-sm-4">
												<label class="radio-inline"> <input name="SE"
													id="type-both" value="Both" type="radio" />Both
												</label>
											</div>
										</div>
									</li>

									<li class="list-group-item">
										<div class="container-fluid">
											<div class="col-sm-10">
												<label class="radio-inline"> <input name="apb"
													id="type-apb" value="Active peripheral Bleeding"
													type="checkbox" />&nbsp &nbspActive peripheral Bleeding
												</label>
											</div>
										</div>

									</li>

									<li class="list-group-item">
										<div class="container-fluid">
											<div class="col-sm-10">
												<label class="radio-inline"> <input name="ci"
													id="type-ci" value="Chest Injury" type="checkbox" />&nbsp
													&nbspChest Injury
												</label>
											</div>
										</div>

									</li>
									<li class="list-group-item">
										<div class="container-fluid">
											<div class="col-sm-10">
												<label class="radio-inline"> <input name="ci"
													id="type-ci" value="Chest Injury" type="checkbox" />&nbsp
													&nbspWounds
												</label>
											</div>
										</div>
									</li>
								</ul>
							</div>
						</div>

						<div class="form-group">
							<div class="col-sm-offset-4 col-sm-3">
								<button type="button" class="btn btn-primary ">Save</button>
								<button type="button" class="btn btn-success ">Submit</button>
							</div>
						</div>
					</form>

				</div>
				<!--PHYSICAL EXAMINATION FORM END-->
				<br>
				
				<!--NEUROLOGICAL EXAMINATION FORM START-->
				<div class="container-fluid"
					style="border: 1px solid black; border-radius: 20px;">
					<form class="form-horizontal">

						<div class="form-group">
							<h3 class="control-label col-xs-6" style="text-align: left">
								<strong><u>NEUROLOGICAL EXAMINATION</u></strong>
							</h3>
						</div>
						<br>

						<div class="form-group">
							<label class="control-label col-xs-10" style="text-align: left">
							18.Details of sensorium initially and after primary resuscitation(write appropriate score)</label>
						</div>

						<div class="form-group">
							<h4 class="control-label col-xs-6" style="text-align: centre">
								<b>Glasgow Coma Scale</b>
							</h4>
						</div>

						<div class="form-group">
							<label class="control-label col-xs-4" style="text-align: left; padding-left: 50px;">
								Eye Openeing Score : 
							</label>
						</div>

						<div>
						<div class="form-group" style="text-align: left; padding-left: 50px; float:left;">
							<label class="control-label col-xs-4" style="text-align: left; float:left">
							    Initial
							</label>

							<div ng-hide="ctrl.editMode" ng-switch="ctrl.myData3[0].eyeOpeneingScoreInitial" class = "col-xs-8">
								<span ng-switch-when="1">No response</span> 
								<span ng-switch-when="2">To pain</span> 
								<span ng-switch-when="3">To verbal command</span> 
								<span ng-switch-when="4">Spontaneously</span> 
								<span ng-switch-default>--</span>
							</div>
							<div  class = "col-xs-8">
								<select ng-show="ctrl.editMode" class="form-control" id="scoreEyeInitial" ng-model="ctrl.myData3.eyeOpeneingScoreInitial">
									<option value="4">4 - Spontaneously</option>
									<option value="3">3 - To verbal command</option>
									<option value="2">2 - To pain</option>
									<option value="1">1 - No response</option>
								</select>
							</div>
						</div>
						
						<div class="form-group" style="text-align: left; padding-right: 50px; padding-left: 50px;float:right;">
							<label class="control-label col-xs-5" style="text-align: left; float:left">
								After resuscitation
							</label>

							<div ng-hide="ctrl.editMode" ng-switch="ctrl.myData3[0].eyeOpeningScoreAfterRes" class = "col-xs-7">
								<span ng-switch-when="1">No response</span> 
								<span ng-switch-when="2">To pain</span> 
								<span ng-switch-when="3">To verbal command</span> 
								<span ng-switch-when="4">Spontaneously</span> 
								<span ng-switch-default>--</span>
							</div>

							<div class="col-xs-7">
								<select ng-show="ctrl.editMode" class="form-control" id="scoreEyeAfter" ng-model="ctrl.myData3.eyeOpeningScoreAfterRes">
									<option value="4">4 - Spontaneously</option>
									<option value="3">3 - To verbal command</option>
									<option value="2">2 - To pain</option>
									<option value="1">1 - No response</option>
								</select>
							</div>
						</div>
						</div>
						
						<br><br>
						
						<div class="form-group">
							<label class="control-label col-xs-4" style="text-align: left; padding-left: 50px;">
								Motor Response Score : 
							</label>
						</div>
						
						<div>
						<div class="form-group" style="text-align: left; padding-left: 50px; float:left;">
							<label class="control-label col-xs-4" style="text-align: left; float:left">
							    Initial
							</label>

							<div ng-hide="ctrl.editMode" ng-switch="ctrl.myData3[0].motorResponseScoreInitial" class = "col-xs-8">
								<span ng-switch-when="1">No response</span> 
								<span ng-switch-when="2">Decerebrate</span> 
								<span ng-switch-when="3">Decorticate</span>
								<span ng-switch-when="4">Flexian Withdrawal</span> 
								<span ng-switch-when="5">Localise pain</span> 
								<span ng-switch-when="6">Obey</span> 
								<span ng-switch-default>--</span>
							</div>

							<div ng-show="ctrl.editMode" class = "col-xs-8">
								<select class="form-control" id="scoreMotorResponseInitial" ng-model="ctrl.myData3.motorResponseScoreInitial">
									<option value="6">6 - Obeys</option>
									<option value="5">5 - Localise pain</option>
									<option value="4">4 - Flexian Withdrawal</option>
									<option value="3">3 - Decorticate</option>
									<option value="2">2 - Decerebrate</option>
									<option value="1">1 - No response</option>
								</select>
							</div>
						</div>
						
						<div class="form-group" style="text-align: left; padding-right: 50px; padding-left: 50px;float:right;">
							<label class="control-label col-xs-5" style="text-align: left; float:left">
								After resuscitation
							</label>

							<div ng-hide="ctrl.editMode" class="col-xs-7" ng-switch="ctrl.myData3[0].motorResponseScoreAfterRes">
								<span ng-switch-when="1">No response</span>
								<span ng-switch-when="2">Decerebrate</span> 
								<span ng-switch-when="3">Decorticate</span>
								<span ng-switch-when="4">Flexian Withdrawal</span> 
								<span ng-switch-when="5">Localise pain</span> 
								<span ng-switch-when="6">Obey</span> 
								<span ng-switch-default>--</span>
							</div>

							<div ng-show="ctrl.editMode" class="col-xs-7">
								<select class="form-control" id="scoreMotorResponseAfter" ng-model="ctrl.myData3.motorResponseScoreAfterRes">
									<option value="6">6 - Obeys</option>
									<option value="5">5 - Localise pain</option>
									<option value="4">4 - Flexian Withdrawal</option>
									<option value="3">3 - Decorticate</option>
									<option value="2">2 - Decerebrate</option>
									<option value="1">1 - No response</option>
								</select>
							</div>
						</div>
						</div>
						
						<br><br>
						
						<div class="form-group">
							<label class="control-label col-xs-4" style="text-align: left; padding-left: 50px;">
								Response Score : 
							</label>
						</div>
						
						<div>
						<div class="form-group" style="text-align: left; padding-left: 50px; float:left;">
							<label class="control-label col-xs-4" style="text-align: left; float:left">
							    Initial
							</label>
						
							<div ng-hide="ctrl.editMode" ng-switch="ctrl.myData3[0].verbalResponseScoreInitial" class = "col-xs-8">
								<span ng-switch-when="1">No response</span> <span
									ng-switch-when="2">Incomprehensible sounds</span> <span
									ng-switch-when="3">Inappro Words</span> <span
									ng-switch-when="4">Disoriented</span> <span ng-switch-when="5">Oriented</span>
								<span ng-switch-default>--</span>
							</div>

							<div ng-show="ctrl.editMode" class = "col-xs-8">
								<select class="form-control"id="scoreVerbalResponseInitial" ng-model="ctrl.myData3.verbalResponseScoreInitial">
									<option value="5">5 - Oriented</option>
									<option value="4">4 - Disoriented</option>
									<option value="3">3 - Inappro Words</option>
									<option value="2">2 - Incomprehensible sounds</option>
									<option value="1">1 - No response</option>
								</select>
							</div>
						</div>
						
						<div class="form-group" style="text-align: left; padding-right: 50px; padding-left: 50px;float:right;">
							<label class="control-label col-xs-5" style="text-align: left; float:left">
								After resuscitation
							</label>

							<div ng-hide="ctrl.editMode" ng-switch="ctrl.myData3[0].verbalResponseScoreAfterRes" class = "col-xs-7">
								<span ng-switch-when="1">No response</span> 
								<span ng-switch-when="2">Incomprehensible sounds</span> 
								<span ng-switch-when="3">Inappro Words</span> 
								<span ng-switch-when="4">Disoriented</span> 
								<span ng-switch-when="5">Oriented</span>
								<span ng-switch-default>--</span>
							</div>

							<div ng-show="ctrl.editMode" class="col-sm-7">
								<select class="form-control" id="scoreVerbalResponseAfter" ng-model="ctrl.myData3.verbalResponseScoreAfterRes">
									<option value="5">5 - Oriented</option>
									<option value="4">4 - Disoriented</option>
									<option value="3">3 - Inappro Words</option>
									<option value="2">2 - Incomprehensible sounds</option>
									<option value="1">1 - No response</option>
								</select>
							</div>
						</div>
						</div>
						<br><br>
						
						<div class="form-group">
							<label class="control-label col-sm-10" style="text-align: left">
								19.Horizontal oculocephalic reflex
							</label>
							<br><br>
							
							<div class="col-sm-8" style="padding-left: 5em">
								<label class="control-label col-sum-2"
									style="text-align: left; padding-right: 1em;">Right : 
								</label>
								<label class="radio-inline"> <input type="radio" name="radioPresentR"
									ng-model="ctrl.myData3.horizontalOculocephalicReflexRight"
									ng-checked="ctrl.myData3[0].horizontalOculocephalicReflexRight == 'present'"
									ng-true-value="present" value="present">Present
								</label> 
								<label class="radio-inline"> <input type="radio" name="radioAbsentR"
									ng-model="ctrl.myData3.horizontalOculocephalicReflexRight"
									ng-checked="ctrl.myData3[0].horizontalOculocephalicReflexRight == 'absent'"
									ng-true-value="absent" value="absent">Absent
								</label> 
								<label class="radio-inline"> <input type="radio" name="radioNotTestedR"
									ng-model="ctrl.myData3.horizontalOculocephalicReflexRight"
									ng-checked="ctrl.myData3[0].horizontalOculocephalicReflexRight == 'not_tested'"
									ng-true-value="not_tested" value="not_tested">Not Tested
								</label>
							</div>
							<div class="col-sm-8" style="padding-left: 5em">
								<label class="control-label col-sum-2" style="text-align: left; padding-right: 1em;">
								Left : 
								</label> 
								<label class="radio-inline"> <input type="radio" name="radioPresentL"
									ng-model="ctrl.myData3.horizontalOculocephalicReflexLeft"
									ng-checked="ctrl.myData3[0].horizontalOculocephalicReflexLeft == 'present'"
									ng-true-value="present" value="present">
									Present
								</label> 
								<label class="radio-inline"> <input type="radio" name="radioAbsentL" 
									ng-model="strl.myData3.horizontalOculocephalicReflexLeft"
									ng-checked="ctrl.myData3[0].horizontalOculocephalicReflexLeft == 'absent'"
									ng-true-value="absent" value="absent">
									Absent
								</label> 
								<label class="radio-inline"> <input type="radio" name="radioNotTestedL"
									ng-model="ctrl.myData3.horizontalOculocephalicReflexLeft"
									ng-checked="ctrl.myData3[0].horizontalOculocephalicReflexLeft == 'not_tested'"
									ng-true-value="not_tested" value="not_tested">
									Not Tested
								</label>
							</div>
						</div>

						<div class="form-group">
							<label class="control-label col-sm-10" style="text-align: left">
								20.	Pupilliary Light reflex
							</label> <br><br>
							<div class="col-sm-8" style="padding-left: 5em">
								<label class="control-label col-sum-2"	style="text-align: left; padding-right: 1em;">
									Right : 
								</label>
								<label class="radio-inline"> <input type="radio"name="radioPresentPupR" 
									ng-model="ctrl.myData3.pupiliaryLightReflexRight"
									ng-checked="ctrl.myData3[0].pupiliaryLightReflexRight == 'normal'"
									ng-true-value="normal" value="normal">
									Normal
								</label> 
								<label class="radio-inline"> <input type="radio" name="radioAbsentPupR" 
									ng-model="ctrl.myData3.pupiliaryLightReflexRight"
									ng-checked="ctrl.myData3[0].pupiliaryLightReflexRight == 'sluggish'"
									ng-true-value="sluggish" value="sluggish">
									Sluggish
								</label> 
								<label class="radio-inline"> <input type="radio" name="radioNotTestedPupR" 
									ng-model="ctrl.myData3.pupiliaryLightReflexRight"
									ng-checked="ctrl.myData3[0].pupiliaryLightReflexRight == 'absent'"
									ng-true-value="absent" value="absent">
									Absent
								</label> <label class="radio-inline"> <input type="radio" name="radioNotTested" 
									ng-model="ctrl.myData3.pupiliaryLightReflexRight"
									ng-checked="ctrl.myData3[0].pupiliaryLightReflexRight == 'cannot_access'"
									ng-true-value="cannot_access" value="cannot_access">
									Cannot Access
								</label>
							</div>
							
							<div class="col-sm-8" style="padding-left: 5em">
								<label class="control-label col-sum-2" style="text-align: left; padding-right: 1em;">
								Left : 
								</label> 
								<label class="radio-inline"> <input type="radio" name="radioPresentPupL" 
									ng-model="ctrl.myData3.pupiliaryLightReflexLeft"
									ng-checked="ctrl.myData3[0].pupiliaryLightReflexLeft == 'normal'"
									ng-true-value="normal" value="normal">
									Normal
								</label> 
								<label class="radio-inline"> <input type="radio" name="radioAbsentPupL" 
									ng-model="ctrl.myData3.pupiliaryLightReflexLeft"
									ng-checked="ctrl.myData3[0].pupiliaryLightReflexLeft == 'sluggish'"
									ng-true-value="sluggish" value="sluggish">
									Sluggish
								</label> <label class="radio-inline"> <input type="radio" name="radioNotTestedPupL" 
									ng-model="ctrl.myData3.pupiliaryLightReflexLeft"
									ng-checked="ctrl.myData3[0].pupiliaryLightReflexLeft == 'sluggish'"
									ng-true-value="sluggish" value="sluggish">
									Absent
								</label> <label class="radio-inline"> <input type="radio" name="radioNotTestedPupL" 
									ng-model="ctrl.myData3.pupiliaryLightReflexLeft"
									ng-checked="ctrl.myData3[0].pupiliaryLightReflexLeft == 'sluggish'"
									ng-true-value="sluggish" value="sluggish">
									Cannot Access
								</label>
							</div>
						</div>

						<div class="form-group">
							<label class="control-label col-sm-10" style="text-align: left">21.
								Motor System Examination</label>
						</div>

						<div class="form-group" style="padding-left: 5em;">
							<div class="container-fluid">

								<div class="row">
									<div class="col-xs-2 "></div>
									<div class="col-xs-5 ">
										<label class="control-label" style="text-align: left">Right</label>
									</div>
									<div class="col-xs-5 ">
										<label class="control-label" style="text-align: left">Left</label>
									</div>
								</div>

								<div class="row" style="padding-top: 1em;">
									<div class="col-xs-2">
										<label class="control-label" style="text-align: left">Upper: </label>
									</div>
									<div class="col-xs-5"style="background-color: lavender; padding-bottom: 1em;">
										<label class="control-label" style="text-align: left">Tone: </label> 
										<input type="text" class="form-control"	id="toneUpperRight"	value="{{ctrl.myData3[0].motorSystemExaminationUpperRightTone}}" ng-model="ctrl.myData3.motorSystemExaminationUpperRightTone">
									</div>
									<div class="col-xs-5"
										style="background-color: lavender; padding-bottom: 1em;">
										<label class="control-label " style="text-align: left">Tone: </label> 
										<input type="text " class="form-control" id="toneUpperLeft" value="{{ctrl.myData3[0].motorSystemExaminationUpperLeftTone}}" ng-model="ctrl.myData3.motorSystemExaminationUpperLeftTone">
									</div>
								</div>

								<div class="row ">
									<div class="col-xs-2 "></div>
									<div class="col-xs-5" style="background-color: lavender; padding-bottom: 1em;"">
										<label class="control-label" style="text-align: left">Power: </label> 
										<input type="text" class="form-control"id="powerUpperRight" value="{{ctrl.myData3[0].motorSystemExaminationUpperRightPower}}" ng-model="ctrl.myData3.motorSystemExaminationUpperRightPower">
									</div>
									<div class="col-xs-5" style="background-color: lavender; padding-bottom: 1em;">
										<label class="control-label " style="text-align: left">Power: </label> 
										<input type="text " class="form-control" id="powerUpperRight" value="{{ctrl.myData3[0].motorSystemExaminationUpperLeftPower}}" ng-model="ctrl.myData3.motorSystemExaminationUpperLeftPower">
									</div>
								</div>

								<div class="row " style="padding-top: 1em;">
									<div class="col-xs-2 ">
										<label class="control-label " style="text-align: left">Lower: </label>
									</div>
									<div class="col-xs-5 "
										style="background-color: lavender; padding-bottom: 1em;"">
										<label class="control-label" style="text-align: left">Tone: </label> 
										<input type="text" class="form-control"	id="toneLowerRight" value="{{ctrl.myData3[0].motorSystemExaminationLowerRightTone}}" ng-model="ctrl.myData3.motorSystemExaminationLowerRightTone">
									</div>
									<div class="col-xs-5" style="background-color: lavender; padding-bottom: 1em;">
										<label class="control-label " style="text-align: left">Tone: </label> 
										<input type="text" class="form-control"id="toneLowerLeft" value="{{ctrl.myData3[0].motorSystemExaminationLowerLeftTone}}" ng-model="ctrl.myData3.motorSystemExaminationLowerLeftTone">
									</div>
								</div>
								
								<div class="row ">
										<div class="col-xs-2"></div>
										<div class="col-xs-5" style="background-color: lavender; padding-bottom: 1em;"">
											<label class="control-label" style="text-align: left">Power: </label> 
											<input type="text" class="form-control"	id="powerLowerRight" value="{{ctrl.myData3[0].motorSystemExaminationLowerLeftPower}}" ng-model="ctrl.myData3.motorSystemExaminationLowerLeftPower">
										</div>
										<div class="col-xs-5" style="background-color: lavender; padding-bottom: 1em;">
											<label class="control-label " style="text-align: left">Power: </label>
											<input type="text" class="form-control"	id="powerLowerLeft"	value="{{ctrl.myData3[0].motorSystemExaminationLowerRightPower}}" ng-model="ctrl.myData3.motorSystemExaminationLowerRightPower">
										</div>
								</div>

								</div>
							</div>

							<div class="form-group ">
								<label class="control-label col-sm-12 " style="text-align: left">22.
									Any other neurological deficits like carnial nerve or limb
									paralysis, sensory loss and bowel/bladder involvement :</label>
								<div class="col-sm-12 ">
									<div class="col-sm-2"
										style="padding-left: 5em;&gt;
										&lt;div class="col-sm-2">
										<label class="radio-inline"> <input
											name="neuro_22_desc" id="input-yes" value="yes" type="radio"
											ng-model="neuro_22_radioVal"
											ng-change='newVal22(neuro_22_radioVal)' />Type
										</label>
									</div>
									<div class="col-sm-2">
										<label class="radio-inline"> <input
											name="neuro_22_desc" id="input-no" value="no" type="radio"
											ng-model="neuro_22_radioVal"
											ng-change='newVal22(neuro_22_radioVal)' />Draw
										</label>
									</div>
								</div>

								<div class="col-sm-8 "
									style="padding-left: 5em; padding-top: 1em; padding-bottom: 1em;">
									<textarea class="form-control col-sm-1 " rows="5 "
										id="descNeurologicalDeficits " style="width: 10cm"
										placeholder="Description"
										ng-value="ctrl.myData3[0].anyOtherNeurologicalDeficits"
										ng-model = "ctrl.myData3.anyOtherNeurologicalDeficits"></textarea>
								</div>
								<div class="col-sm-8 "
									style="padding-left: 5em; padding-top: 1em; padding-bottom: 1em;">
									<canvas id="simple_sketch" width="700" height="200"
										style="border: 1px solid black;"></canvas>
									<script type="text/javascript">
										$(function() {
											$('#simple_sketch').sketch();
										});
									</script>
								</div>
							</div>

							<div class="form-group ">
								<div class="col-sm-offset-4 col-sm-3 "
									data-ng-init="btnId='form3';">
									<button type="button " class="btn btn-primary ">Save</button>
									<button data-ng-attr-id="btnId" type="button "
										class="btn btn-success " ng-click="ctrl.saveUser(btnId)">Submit</button>
								</div>
							</div>
					</form>

				</div>
				<!--NEUROLOGICAL EXAMINATION FORM END-->
				<br>
				<!--CLINICAL EXAMINATION FORM START-->
				<div class="container-fluid "
					style="border: 1px solid black; border-radius: 20px;">
					<h3>
						<strong><u>CLINICAL EXAMINATION:</u></strong>
					</h3>
					<br>
					<form class="form-horizontal ">
						<div class="form-group ">
							<label class="control-label col-sm-4 " style="text-align: left">Any
								change in GCS/Neurological examination noted during observation:</label>
							<div class="container-fluid col-sm-5 ">
								<div class="col-sm-6 ">
									<label class="radio-inline"> <input type="radio"
										name="gcsExam" id="gcsExam1" value="CSF Rhinohorrea">Yes
									</label>
								</div>
								<div class="col-sm-4 ">
									<label class="radio-inline"> <input type="radio"
										name="gcsExam" id="gcsExam2" value="Otorrhoea">No
									</label>
								</div>
							</div>
						</div>

						<div class="form-group ">
							<label class="control-label col-sm-4 " style="text-align: left">CT
								scan head showed : </label>
							<div class="container-fluid col-sm-5 ">
								<textarea class="form-control " rows="5 " id="other "></textarea>
							</div>
						</div>

						<div class="form-group ">
							<label class="control-label col-sm-4 " style="text-align: left">Other
								relevant investigations(X-rays/MRI):</label>
							<div class="container-fluid col-sm-5 ">
								<textarea class="form-control " rows="5 " id="other "></textarea>
							</div>
						</div>

						<div class="form-group ">
							<label class="control-label col-sm-4 " style="text-align: left">Course
								in the Hospital(including repeat CT scan done, if any):</label>
							<div class="container-fluid col-sm-5 ">
								<textarea class="form-control " rows="5 " id="other "></textarea>
							</div>
						</div>

						<div class="form-group ">
							<label class="control-label col-sm-4 " style="text-align: left">Condition
								at Discharge:</label>
							<div class="container-fluid col-sm-5 ">
								<textarea class="form-control " rows="5 " id="other "></textarea>
							</div>
						</div>

						<div class="form-group ">

							<div class="col-sm-offset-4 col-sm-3 ">
								<button type="button " class="btn btn-primary ">Save</button>

								<button type="button " class="btn btn-success ">Submit</button>
							</div>
						</div>
					</form>
				</div>

			</div>

		</div>
	</div>
</body>
</html>